In [9]:
# Loading in required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [10]:
personality_scores = pd.read_csv("personality_scores.csv", sep = ";")
personality_scores.shape

(1555, 70)

In [11]:
personality_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Dropping Duplicates Based on ID
persona_scores = personality_scores[~personality_scores[['ID']].apply(frozenset, axis=1).duplicated()]
#persona_scores = personality_scores.drop_duplicates(subset ="ID", keep = False, inplace = True)

# Assert to check if new DF is length of original's DF entries
assert len(persona_scores) == len(personality_scores)

In [13]:
count = 0
def adding_personal_score_values(person_score):
    for each_value in each_column:
        if second_character in each_value == 1:
            # I want this function to count how many 1s, 2s, 3s, 4s and 5s appear per row
        
    
persona_scores.head()

In [8]:
persona_scores["Section 5 of 6 [I am always prepared.]"].describe()

count       1555
unique         3
top       (3, 5)
freq         909
Name: Section 5 of 6 [I am always prepared.], dtype: object

In [15]:
departments = pd.read_csv("departments.csv", sep = ";")
departments.shape

(1555, 2)

In [16]:
departments.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [20]:
per_dept = pd.merge(persona_scores, departments, on = "ID", how = "inner")
assert len(per_dept) == len(departments)
per_dept.shape

(1555, 71)