In [15]:
# Loading in required libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
personality_scores = pd.read_csv("personality_scores.csv", sep = ";")

In [17]:
personality_scores.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Dropping Duplicates Based on ID
persona_scores = personality_scores[~personality_scores[['ID']].apply(frozenset, axis=1).duplicated()]
#persona_scores = personality_scores.drop_duplicates(subset ="ID", keep = False, inplace = True)

# Assert to check if new DF is length of original's DF entries
assert len(persona_scores) == len(personality_scores)

In [19]:
data_rows = personality_scores.values.tolist()
def counting_personal_score_values(data_rows):
    # I want this function to count how many 1s, 2s, 3s, 4s and 5s appear per row
    all_rows = []
    for row in data_rows:
        all_rows.append(row)
        
    counters_table = []
    add_for_ones = []
    add_for_twos = []
    add_for_threes = []
    add_for_fours = []
    add_for_fives = []
    
    for each_row in all_rows:
        current_row = each_row
        ones = 0
        twos = 0
        threes = 0
        fours = 0
        fives = 0
        
        for each_val in current_row:

            if type(each_val) == str:
                if each_val[1] == '1':
                    ones += int(each_val[4])
                if each_val[1] == '2':
                    twos += int(each_val[4])
                if each_val[1] == '3':
                    threes += int(each_val[4])
                if each_val[1] == '4':
                    fours += int(each_val[4])
                if each_val[1] == '5':
                    fives += int(each_val[4])
        add_for_ones.append(ones)
        add_for_twos.append(twos)
        add_for_threes.append(threes)
        add_for_fours.append(fours)
        add_for_fives.append(fives)
    
    counters_table.append(add_for_ones)
    counters_table.append(add_for_twos)
    counters_table.append(add_for_threes)
    counters_table.append(add_for_fours)
    counters_table.append(add_for_fives)

    return counters_table
        
    


# Create rows to work with
counters_table = counting_personal_score_values(data_rows)
df_count = pd.DataFrame(counters_table)
df_count = df_count.transpose()
df_count.shape
df_count = df_count.rename(columns={'0':'Extraversion',              
                                    '1':'Agreeableness', 
                                    '2':'Conscientiousness',
                                    '3':'Emotional Stability', 
                                    '4':'Intellect'})
df_count.columns = ['Extraversion',
                    'Agreeableness',
                    'Conscientiousness',
                    'Emotional Stability', 
                    'Intellect']
# df_count.shape
df_count.head()

,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,30,40,48,36,42
1,42,46,46,40,42
2,28,40,40,38,42
3,30,38,38,40,38
4,28,34,46,38,36

In [20]:
# personality_data = pd.merge(persona_scores, df_count, on = "ID", how = "inner")
personality_data = pd.concat([persona_scores, df_count] ,axis=1, ignore_index=False)
personality_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Intellect
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,28,34,46,38,36

In [21]:
departments = pd.read_csv("departments.csv", sep = ";")
departments.shape

(1555, 2)

In [22]:
departments.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [23]:
per_dept = pd.merge(personality_data, departments, on = "ID", how = "inner")
assert len(per_dept) == len(departments)
per_dept.shape

(1555, 76)